@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #4672c4;
}

#quote-box {
  background: #fff;
  width: 50%;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 5px;
}

#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: grey;
  font-family: "Kaushan Script", cursive;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  color: rgb(94, 74, 74);
  font-family: "Roboto Slab", serif;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.social-media {
  display: flex;
}

.social-media > a {
  margin-right: 0.5rem;
  background: #0059ff;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.social-media > a:hover {
  opacity: 0.9;
}

.social-media > a img {
  width: 1.5rem;
}

#new-quote {
  background: #0059ff;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

#new-quote:hover {
  opacity: 0.9;
}
@media only screen and (max-width: 800px) {
  #quote-box {
    width: 85%;
    min-height: 90vh;
    margin: 2rem 0 2rem 0;
    overflow: hidden;
  }
  .quote_box_container {
    display: grid;
    place-items: center;
  }
}
